mixin header()
  - var links1 = ["about us", "work"];
  - var links2 = ["shop", "contact"];

  +b.header&attributes(attributes)
    .container
      +e.UL.menu
        each link in links1
          +e.LI.item
            +e.A.link(href="#")= link

      +e.SPAN.logo
        img(src="assets/images/logo.png")

      +e.UL.menu
        each link in links2
          +e.LI.item
            +e.A.link(href="#")= link