.button {
  display: inline-block;
  padding: 0 55px; 
  border: 1px solid rgba(white, 0.5);
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  background-color: transparent;
  transition: background-color $ease-main, border-color $ease-main;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $color-main;
    border-color: $color-main;
  }
}
